
<main class="conversion">

    <header class="consversion-header">
        <h2><span>Credit Card Reward Conversion<span></h2>
    </header>

    <div class="consversion-card-info">
        <figure>
        <%= image_tag "creditcard.jpg" %>
        </figure>
        <div class="details">
            <div>Available credit card rewards</div>
            <div class="num">3834734</div>
        </div>
    </div>

    <div class="consversion-option-list">
    </div>

    <div class="consversion-button">
    </div>


</main>