
.main {
    
    padding-top: 5rem;

    &.homepage{

        img:hover {
            opacity: .8;
            transition: .5s;
        }
 
        .bottom {
            border-bottom: 1px solid var(--light-grey);
            padding-bottom: 5rem;

        }
        
        .row {
            display: grid;
            padding-top: 5rem;

            &.two {
                grid-template-columns: 52% auto;
                grid-gap: 3rem;
            }

            > div {
    
                h2 {
                    margin-bottom: 1rem;
                    text-transform: uppercase;
                }

                img {
                    width: 100%;
                }

            }

            .feature {
                width: 100%;
                border-right: 1px solid var(--light-grey);
                padding-right: 3rem;
 

                h3 {
                    margin-top: 1.5rem;
                    font-size: 2.5rem;
                    font-weight: 600;
                }
                p {
                    margin-top: 0.5rem;
                    font-size: 1.25rem;
                }

                .cover {
                    img { 
                        max-height: 20rem;
                        object-fit: cover;

                    }
                }
            }

            .recommended {

                .item {
                    display: grid;
                    grid-template-columns: 35% auto;
                    grid-gap: 1rem;

                    &:not(:last-child) {
                        margin-bottom: 1rem;
                        border-bottom: 1px solid var(--light-grey);
                        padding-bottom: 1rem;
                    }

                    h3 {
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin-bottom: 0.5rem;
                    }
                }


            }

    
        }


        .item-list {

            margin-top: 5rem;

            h2 {
                margin-bottom: 1.5rem;
                text-transform: uppercase;
                font-size: 1.25rem;
            }

            .wrap{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 3rem;

                .item {

                    .cover {
                        img {width: 100%;}
                        margin-bottom: 1rem;
                    }

                    h3 {
                        font-size: 1.5rem;
                        margin-bottom: 0.5rem;
                        font-weight: 500;
                    }
                }
        }
            
        }
    }

}

@media only screen and (max-width: 800px) {
    .main {
        &.homepage {
            .row {
                &.two {
                    grid-template-columns: auto;
                }

                .feature {
                    border: 0;
                    border-bottom: 1px solid var(--light-grey);
                    padding-bottom: 3rem;
                    margin-bottom: 1rem;
                    padding-right: 0;

                }
            }

            .item-list {
                .wrap {
                        grid-template-columns: auto;

                }
            }
        }
        
    }
}