@keyframes heartbeat {
    0%{
      width: 0;
      color: #333;
    }
    30%{
      width: 100%;
    }
    100%{
      transform: scale(1.0);
    }
  }

.info {


    background: #F8F8F8;
    border-bottom: 1px solid var(--light-grey);
    
    

    padding: var(--side-margin);
    h2 {
        text-align: center;
        font-size: 3rem;
        margin-bottom: var(--side-margin);
    }

    .wrap {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 4rem;
    }

    .cover {
        img {
            width: 100%;
        }
    }

    .content {
        min-width: 200px;
        .bar {
            
            height: 3px;
            width: 100%;
            background: var(--light-grey);
            margin: 1.5rem 0;

            > div {
                background: #408A5F;
                height: inherit;
                animation-name: heartbeat;
                animation-duration: 2s;            }
        }

        .value {

            font-size: 2.5rem;
            margin-bottom: 2rem;
            font-weight: 200;

                            svg {
                    margin: 4px 4px 0 4px;
                }
            

            .goal {
                margin-top: 0.25rem;
                font-size: 1rem;

                svg {
                    margin: 4px 4px 0 4px;
                }

            }

            .hkd {

                &:before {
                    margin-right: 0.5rem;
                    content: "HKD$";
                }
            }
        }

        .numset {
            
            margin-bottom: 1.5rem;
            .num {
                font-size: 2rem;
                width: 100%;
                display: inline-block;
            }
            
        }

        .share {
            margin-top: 1.75rem;

            svg {
                width: 32px;
                height: 32px;
                margin-right: 0.5rem;

                &.facebook {
                    fill: #3C5A99;
                }

                &.google {
                    fill: #DD4B39;
                }

                &.twitter {
                    fill: #38A1F3;
                }

                &.whatsapp {
                    fill: #25d366;
                }

            }
        }

        .invest {
            width: 100%;
            line-height: 3.5rem;
            text-align: center;
            font-size: 1.25rem;
            background: #59AF7D;
            color: #FFF;
            font-weight: 600;
            border: 0;
        }
    }
}

.main {
    

    &.itempage {

        .item-nav {
            line-height: 5rem;
            border-bottom: 1px solid var(--light-grey);
            margin-bottom: var(--side-margin);

            a {
                margin-right: 2rem;

                &.seleted {
                    font-weight: 700;
                }
            }
        }

        .sticky {
            position: fixed;
            top: 5rem;
            background: #FFF;
            width: 100%;
          

        }

        .sticky + .item-nav {
            padding-top: 102px;
          }

        margin-top: 0;
        .grid {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 3rem;
        }

        .content {

            font-size: 1.5rem;



            h2 {
                font-size: 1.5em;
                margin-bottom: 1.75rem;
            }

            h3 {
                font-size: 1.15em;
                font-weight: 600;
                margin-bottom: 0.75rem;
            }

            h4 {
                font-size: 1em;
                font-weight: 200;
                margin-bottom: 0.5rem;
            }

            p {
                margin-bottom: 3rem;
            }

            .timelines {
                margin-left: 2rem;
                border-left: 4px solid var(--light-grey);
                padding: 2rem 2rem;
                padding-bottom: 0;
                margin-bottom: 5rem;

                .timelines-item {

                    .circle {
                        margin-top: 0.2rem;
                        margin-left: -2.85rem;
                        border-radius: 10px;
                        background: #3B9748;
                        height: 20px;
                        width: 20px;
                        float: left;
                        transition: 1s;
                    }

                    span {
                        padding-bottom: 2rem;
                    }

                    p {
                        font-size: 2em;
                    }

                }
            }

            ul, li {
                margin-left: 1rem;
                padding-left: 1rem;
            }

            ul {
                margin-bottom: 3rem; 
            }
        }

        .sticky2 {
            position: fixed;
            top: 13rem;
            background: #FFF;
            right: 0;

        }

        .sticky2 + .content {
            padding-top: 102px;
          }


        .plan-list {
            min-width: 300px;

            svg {
                margin-right: .5rem;
                vertical-align:top;

            }

            .plan {
                border: 1px solid var(--light-grey);
                padding: 2rem;
                margin-bottom: 3rem;

                h2 {
                    font-size: 1.5rem;
                    margin-bottom: 1rem;
                }

                .invest {
                    width: 100%;
                    line-height: 3.5rem;
                    text-align: center;
                    font-size: 1.25rem;
                    background: #59AF7D;
                    color: #FFF;
                    font-weight: 600;
                    border: 0;
                }

                li {
                    
                    margin: 1.5rem;

                }
            }
        }
    }
}